*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}


.form{
    display:flex;
    width:100%;
    height:40px;
    justify-content:center;
    align-items:center;
    background:blue;
}
.search-form{
  display:flex;
}

ul{
  display:flex;
  list-style:none;
  gap:20px;
  margin-left:40px;
  margin-top:20px;
  flex-wrap:wrap;
}


.info{
  display:flex;
  width:400px;
  justify-content:space-around;
}
.info-item{
  display:flex;
}
b{
  display:flex;
 text-align:center;
}
p{
  display:flex;
}
.load-more{
  display:flex;
  width:200px;
  height:60px;
  justify-content:center;
  align-items:center;
  color:#fff;
  border-radius:4px;
  border:none;
  background:green;
}

.is-hidden{
  opacity:0;
  visibility:hidden;
  pointer-events:none;
}

.button-wrapper{
  display:flex;
  width:100%;
 justify-content:center;
 align-items:center;
 margin-top:40px;
 margin-bottom:40px;
}
.galler{
  display:block;
}

img{
  display:flex;
 object-fit: cover; 
}